<h1>Log In Below:</h1>

    <form method="post" action="/sessions">
        <lable>email</lable>
        <input type="text" name="email">
        <br>
        <lable>password</lable>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Log In">
    </form>
